@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Myriad Pro'), local('Myriad-Pro'),
        url(../fonts/myriad-pro-regular.woff) format('woff'),
        url(../fonts/myriad-pro-regular.ttf) format('truetype');
}